<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>여기가 페이지이름</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="common/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="common/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="common/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="common/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="common/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="common/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="common/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="common/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="common/css/style.css" type="text/css">

    <script src="common/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/common/js/Common.js}"></script>
    <script th:src="@{/common/js/Json.js}"></script>
    <script th:src="@{/common/js/dhtmlx_min.js}"></script>
    <!-- config fragment 사용 -->
<!--    <th:block th:replace="fragment/config :: configFragment" ></th:block>-->
</head>

<body>
<!-- header fragment 사용 -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>

<!--
    content fragment 사용
    현재 layout을 사용하는 content fragment의 내용을 삽입한다.
-->
<th:block layout:fragment="content"></th:block>

<!-- footer fragment 사용 -->
<th:block th:replace="fragment/footer :: footerFragment"> </th:block>
<script src="common/js/bootstrap.min.js"></script>
<script src="common/js/jquery.magnific-popup.min.js"></script>
<script src="common/js/mixitup.min.js"></script>
<script src="common/js/jquery-ui.min.js"></script>
<script src="common/js/jquery.nice-select.min.js"></script>
<script src="common/js/jquery.slicknav.js"></script>
<script src="common/js/owl.carousel.min.js"></script>
<script src="common/js/jquery.richtext.min.js"></script>
<script src="common/js/image-uploader.min.js"></script>
<script src="common/js/main.js"></script>

</body>


</html>