<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a href="./index.html">
                <img src="common/img/logo.png" alt="">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">
            <ul>
                <li><i class="icon_mail_alt"></i> Aler.support@gmail.com</li>
                <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
            </ul>
            <a href="#" class="hw-btn">Submit property</a>
        </div>
        <div class="om-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Wrapper End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="hs-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html"><img src="common/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="ht-widget">
                            <ul>
                                <li><i class="icon_mail_alt"></i> Aler.support@gmail.com</li>
                                <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
                            </ul>
                            <a href="#" class="hw-btn">Submit property</a>
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <span class="icon_menu"></span>
                </div>
            </div>
        </div>
        <div class="hs-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="nav-menu">
                            <ul>
                                <li class="active"><a href="/main">Home</a>
                                </li>
                                <li><a href="#">공지사항</a>
                                    <ul class="dropdown">
                                        <li><a href="/exBoard">공지사항</a></li>
                                        <li><a href="/membership&point.html">회원등급/포인트안내</a></li>
                                        <li><a href="/entertainment guide.html">업소별이용가이드</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">업체정보</a><!-- information -->
                                    <ul class="dropdown1">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">업체후기</a><!-- after-word -->
                                    <ul class="dropdown2">
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">업체쿠폰</a><!-- coupon -->
                                    <ul class="dropdown3">
                                            <li><a href="#">7</a></li>
                                            <li><a href="#">8</a></li>
                                            <li><a href="#">9</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">커뮤니티</a><!-- community -->
                                    <ul class="dropdown4">
                                            <li><a href="/attendance">출석체크</a></li>
                                            <li><a href="/sign-up">가입인사</a></li>
                                            <li><a href="/everyday board">일상게시판</a></li>
                                            <li><a href="/free board">자유게시판</a></li>
                                            <li><a href="/information board">정보공유</a></li>
                                            <li><a href="/question board">질문게시판</a></li>
                                            <li><a href="/confidentially">비밀이야기</a></li>
                                            <li><a href="/Suggestion box">건의게시판</a></li>
                                            <li><a href="/tip-off board">제보게시판</a></li>
                                            <li><a href="/tweeter vouch">트위터인증</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">자료실</a><!-- data room -->
                                    <ul class="dropdown5">
                                            <li><a href="#">업소아가씨</a></li>
                                            <li><a href="#">성인토렌트</a></li>
                                            <li><a href="#">성인동영상</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">포인트게임</a><!-- pointGame -->
                                    <ul class="dropdown6">
                                            <li><a href="#">네이드사다리</a></li>
                                            <li><a href="#">가위바위보</a></li>
                                            <li><a href="#">짐보점프</a></li>
                                            <li><a href="#">지뢰찾기</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">이벤트</a><!-- event -->
                                    <ul class="dropdown7">
                                            <li><a href="#">오피가이드 이벤트</a></li>
                                            <li><a href="#">업체 셀프 이벤트</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">제휴문의</a><!-- query -->
                                    <ul class="dropdown8">
                                            <li><a href="#">제휴문의</a></li>
                                            <li><a href="#">구인/구직</a></li>
                                            <li><a href="#">1:1문의하기</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="hn-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="common/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Property Grid</h4>
                        <div class="bt-option">
                            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                            <span>Property</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
</div>

</html>