<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default_layout}">
<!-- index.html 고유 CSS 추가 -->
<!--<th:block layout:fragment="css">-->
<!--&lt;!&ndash;    <link rel="stylesheet" th:href="@{/css/page/home.css}" >&ndash;&gt;-->
<!--</th:block>-->
<head>
    <!--    필요힌 css, script 추가영역 -->
    <link rel="stylesheet" href="common/css/richtext.min.css" type="text/css">
    <link rel="stylesheet" href="common/css/image-uploader.min.css" type="text/css">
    <script src="exBoard/CmpGd.js"></script>
</head>

<div layout:fragment="content">
    <!-- 본문 Section Begin -->


    <!-- Property Submit Section Begin -->
    <section class="property-submit-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-submit-form">
                        <form action="#">
                           

                            <div class="col-lg-8">
                                <div class="blog-item-list" id="exbo">
                                    <!-- <div class="blog-item large-blog">
                                        <div class="bi-pic">
                                            <img src="common/img/blog/blog-1.jpg" alt="">
                                        </div>
                                        <div class="bi-text">
                                            <h4><a href="./blog-details.html">오피스텔(오피)</a></h4>
                                            <ul>
                                                <li>Seb 27, 2021</li>
                                                <li>12 Comment</li>
                                            </ul>
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book sentially unchanged...</p>
                                            <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                                        </div>
                                    </div> -->
                                    <!-- <div class="blog-item">
                                        <div class="bi-pic">
                                            <img src="common/img/blog/blog-2.jpg" alt="">
                                        </div>
                                        <div class="bi-text">
                                            <h5><a href="./blog-details.html">건전 마사지(건마)</a></h5>
                                            <ul>
                                                <li>by <span>Jonathan Doe</span></li>
                                                <li>Seb 24, 2019</li>
                                                <li>12 Comment</li>
                                            </ul>
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown...</p>
                                            <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                                        </div>
                                    </div>
                                    <div class="blog-item">
                                        <div class="bi-pic">
                                            <img src="common/img/blog/blog-3.jpg" alt="">
                                        </div>
                                        <div class="bi-text">
                                            <h5><a href="./blog-details.html">what3words: The app changing real estate and construction forever</a></h5>
                                            <ul>
                                                <li>by <span>Jonathan Doe</span></li>
                                                <li>Seb 24, 2019</li>
                                                <li>12 Comment</li>
                                            </ul>
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown...</p>
                                            <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                                        </div>
                                    </div>
                                    <div class="blog-item">
                                        <div class="bi-pic">
                                            <img src="common/img/blog/blog-4.jpg" alt="">
                                        </div>
                                        <div class="bi-text">
                                            <h5><a href="./blog-details.html">what3words: The app changing real estate and construction forever</a></h5>
                                            <ul>
                                                <li>by <span>Jonathan Doe</span></li>
                                                <li>Seb 24, 2019</li>
                                                <li>12 Comment</li>
                                            </ul>
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown...</p>
                                            <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                                        </div>
                                    </div>
                                    <div class="blog-item">
                                        <div class="bi-pic">
                                            <img src="img/blog/blog-5.jpg" alt="">
                                        </div>
                                        <div class="bi-text">
                                            <h5><a href="./blog-details.html">what3words: The app changing real estate and construction forever</a></h5>
                                            <ul>
                                                <li>by <span>Jonathan Doe</span></li>
                                                <li>Seb 24, 2019</li>
                                                <li>12 Comment</li>
                                            </ul>
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown...</p>
                                            <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                                        </div>
                                    </div> -->
                                </div>
                               
                            </div>



                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Property Submit Section End -->





    <!-- 본문 Section End -->


</div>
</html>