<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="doit.now.exBoard.dao.MmbLvlMapper">
    <!-- 페이징 관련 쿼리 -->
    <sql id="pre-paging-sql">
        SELECT *
        FROM ( SELECT COUNT(*) OVER() AS TOT_COUNT
		, PAGING.*
               FROM (
    </sql>
    <sql id="post-paging-sql">
       <![CDATA[
        ) PAGING
	        )cc
	  WHERE ROW_NUMBER <= (#{ROW_CNT}::INTEGER * #{PAGES_CNT}::INTEGER)
        AND ROW_NUMBER >= ((((#{PAGES_CNT}::INTEGER - 1) * #{ROW_CNT}::INTEGER + 1)))
        ]]>
	</sql>
    <!-- 리스트 -->
    <select id="selectList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <include refid="pre-paging-sql" />
        select
            ROW_NUMBER() OVER(ORDER BY num DESC) AS ROW_NUMBER,
            icon,
            level,
            right,
            joinday,
            review,
            bulletin,
            comments,
            levelup,
            num 

        from
            rtgpts
        <include refid="post-paging-sql" />
    </select>

        <!-- 진석 주석문-->

    <!-- <insert id="insertBoard"  parameterType= "java.util.HashMap">
        INSERT INTO public.board_b
            (num_b, "name_b", title_b, "content_b", pwd_b, "date_b")
        VALUES(
                (SELECT COALESCE(MAX(num_b)+1,1) from board_b ),
                #{name},
                #{title},
                #{content},
                #{pwd},
               TO_CHAR(now() , 'YYYYMMDD')   );
    </insert> -->
</mapper>
